/* 4 - EXTERNAL CSS */

h3 {
    color: brown;
}

/* 8 - CLASSES */
.classe_1 {
    color: white;
    background-color: darkblue;
    padding: 15px;
}


/* 9 - IDS */
#excluvise-title {
    background-color: darkorange;
    font-size: 60px;
    padding: 30px;
    color: blue;
    text-align: center;
}

/* 10 - Ordem do CSS, Multiplas regras */

h1 {
    border-bottom: 2px black solid;
}

.algum-titulo {
    border-bottom: 3px gold solid;
}

#titulo {
    border-bottom: 4px green solid;
}

/* 11 - Nome de cores */
.color-name{
    color: crimson;
}

/* 12 - HEX */
.color-hex{
    color: #90a345;
}

.color-hex2{
    color: #69e65b;
}


/* 13 - Hex simplificado */
.hexsimplificado1{
    color: #123;
}

.hexsimplificado2{
    color: #AABBCC;
}


/* RBG */
.mixed-rgb {
    color: rgb(255, 10, 255);
}

.rgb {
    color: rgb(89, 16, 161);
}

/* RGBA */
.rgba {
    color: rgba(20, 100, 255, 0.4);
}


/* HSL */
.hsl {
    color: hsl(90, 100%, 40%);
}

.hsl-2 {
    color: hsl(105, 90%, 20%);
}



/* Background */
.bg {
    background-color: #69aa33;
    color: rgb(90, 20, 10);
}

.bg-2 {
    background-color: hsl(100, 20%, 30%);
    color: #fff;
}

/* opacidade no bg */
.bg-opacity {
    background-color: #333;
    opacity: 0.1;
}

.bg-opacity-2{
    background-color: #999;
    color: #fff;
    opacity: 0.8;
}


/* RGBA opacity */
.rgba-opacity {
    background-color: rgba(10, 90, 100, 0.3);
    color: #000;
}

/* BG Imagem */
.bg-image {
    color: #fff;
    background-image: url("../img/Bob_Esponja_e_Patrik.png");
    padding: 100px;
    text-align: center;
}


/* Centralizando bg image : aqui temos um exemplo de 
como colocar as mesmas propriedades para 2 classes diferentes*/
.not-centered-bg,
.centered-bg {  
    height: 400px;
    width: 400px;
    background-image: url("../img/Tux_Linux.png");
    background-color: #23aa21;
    
}

.centered-bg {
    background-position: center;
    background-size: cover;
}


/* Largura e Altura */
.height-width {
    width: 500px;
    height: 200px;
    background-color: #000;
}

.height-width-2 {
    height: 300px;
    background-color: blueviolet;
}

/* padding */
.without-padding,
.padding {
    color: #fff;
    background-color: #000;
    font-size: 20px;
}

.padding {
    padding: 30px;
    background-color: coral;
}

/* padding-individual */
.padding-individual {
    background-color: #45a210;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
}


/* SHORTHAND PADDING */
.shorthand-padding {
    color: #23aa21;
    background-color: crimson;
    padding: 20px 30px 40px 50px;
}

.shorthand-padding-2 {
    background-color: #111;
    color: #fff;
    padding: 10px 20px
}

/* Border Box */
.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Borda */
.borda {
    border: 1px solid green;
    padding: 10px;
}

.borda-2 {
    border: 5px double #22e321;
    padding: 15px;
}


/* borda individual */
.border-left {
    background-color: #000;
    color: #fff;
    border-left: 5px solid red;
    padding: 10px;
}


.border-bottom {
    background-color: #AAA;
    color: #000;
    border-bottom: 5px dotted #23a321;
    padding: 20px;
}

/* borda arredondada */
.border-p {
    background-color: blueviolet;
    color: #22e321;
    padding: 15px;
    border: 5px solid orange;
    border-radius: 20px;
}

.border-p-2 {
    background-color: black;
    color: red;
    padding: 15px;
    border-radius: 10px;
}

/* margem */
.margin {
    background-color: #000;
    color: #fff;
    margin: 10px;
}

.margin-top {
    background-color: #000;
    color: green;
    margin-top: 20px;
    padding: 15px;
}

.margin-shorthand {
    background-color: red;
    color: black;
    margin: 5px 10px 20px 30px;
    padding: 50px;
}

/* Box Model */
.box-model {
    margin: 5px;
    padding: 20px 10px;
    border: 5px double #333;
    border-radius: 15px;
    width: 200px;
    height: 400px;
    font-size: 40px;
}

/* Desafio 3 */
#box-model-desafio {
    margin: 10px;
    padding: 20px;
    border: 4px solid red;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    outline: 10px solid black;
}

.texto-desafio-3 {
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

/* Texto alinhado */
.text-aligned {
    text-align: right;
    background-color: #123;
    color: #fff;
}

.container-center {
    text-align: center;
    width: 500px;
    border: 3px solid orange;
    background-color: #555;
    color: #fff;
    padding: 5px;
}

/* Text Decoration */
.underline{
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: #22e321;
}

/* Text transform */
.texto-caixa-alta {
    text-transform: uppercase;
}

.texto-caixa-baixa {
    text-transform: lowercase;
}

/* letter spacing */
.spacing {
    letter-spacing: 5px;
    color: #444;
    font-size: 20px;
}


/* Font Family */
.serif {
    font-family: Georgia;
}

.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-family: Courier;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* font Style */
.italico {
    font-style: italic;
    font-size: 50px;
}

.obliquo {
    font-style: oblique;
    font-size: 50px;
}

/* Font weight */
.thin, .bold, .bolder {
    font-family: 'Times New Roman', Times, serif;
}

.thin {
    font-weight: 200;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 900;
}


/* Font Size */
.small {
    font-size: 7px;
}

.big {
    font-size: 90px;
}

/* Display */
.inline-box {
    background-color: #3242a2;
    color: #fff;
    margin: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.block {
    background-color: #22e321;
    color: #000;
    padding: 20px;
    margin: 4px;
    display: block;
}

/* Escondendo elemento */
.invisivel {
    display: none;
}


/* Position Static */
.static{
    width: 100px;
    height: 100px;
    color: #fff;
    position: static;
    background-color: #123;
}

/* Position Relative */
.relative {
    width: 100px;
    height: 100px;
    color: #fff;
    position: relative;
    background-color: #4554ad;
    top: 100px;
    left: 20px;
}

/* Position Absolute */
.absolute {
    width: 100px;
    height: 100px;
    color: #000;
    position: absolute;
    background-color: #987;
    top: 3px;
    right: 3px;
}

/* Absolute com Relative */
.relative-container {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-top: 50px;
    position: relative;
}

.absolute-1, .absolute-2, .absolute-3, .absolute-4{
    background-color: #3242a2;
    width: 50px;
    height: 50px;
    position: absolute;
}

.absolute-1 {
    top: 10px;
    left: 10px;
}

.absolute-2 {
    bottom: 10px;
    right: 10px;
}

.absolute-3 {
    top: 10px;
    right: 10px;
}

.absolute-4 {
   bottom: 10px;
   left: 10px;
}

/* Position Fixed */
.fixed {
    width: 100px;
    height: 100px;
    background-color: #234567;
    border: 2px solid rebeccapurple;
    position: fixed;
    color: #fff;
    top: 50px;
    right: 10px;
}

/* Position sticky */
.sticky {
    width: 300px;
    height: 150px;
    background-color: #fff;
    border: 5px double red;
    position: sticky;
    color: #000;
    top: 5px;
    left: 10px;
}


/* Z-INDEX */
.relative-container {
    width: 300px;
    height: 300px;
    border: 3px double black;
    margin-top: 50px;
    position: relative;
}

.absolute-5, 
.absolute-6, 
.absolute-7{
    width: 50px;
    height: 50px;
    position: absolute;
}

.absolute-5 {
    top: 10px;
    left: 10px;
    background-color: black;
    z-index: 1;
 }

 .absolute-6 {
    top: 30px;
    left: 30px;
    background-color: red;
    z-index: 3;
 }

 .absolute-7 {
    top: 50px;
    left: 50px;
    background-color: green;
    z-index: 2;
 }

